
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new post</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/black.png' %}">
    <link rel="stylesheet" href="{% static 'css/post-form.css' %}">
</head>
<body>
    <div class="form-container">
       <h1 class="form-title">Create a new post</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group">
                {{ form.title.label_tag }}
                {{ form.title }}
                {{ form.title.errors }}
            </div>

            <div class="input-group">
                {{ form.content.label_tag }}
                {{ form.content }}
                {{ form.content.errors }}
            </div>

            <button type="submit" class="form-button">Send Post</button>
        </form>

        <div style="margin-top:20px;">
            <a href="{% url 'post_list' %}" style="color:#06165a; text-decoration:none;">بازگشت به لیست پست‌ها</a>
        </div>
    </div>
</body>
</html>
