{% load static %}
<!DOCTYPE html>
<html>
<head>
     <title>Login to Blog</title>
     <link rel="icon" type="image/x-icon" href="{% static 'images/black.png' %}">
     <link rel="stylesheet" href="{% static 'css/dark-theme.css' %}">
</head>
<body class="login-body">
    <div class="login-container">
       <center><h1 class="login-title">sign up to Blog</h1></center>

        <form method="post">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="input-group">
                {{ form.username.label_tag }}
                {{ form.username }}
                {{ form.username.errors }}
            </div>

            <div class="input-group">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>

            <div class="input-group">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>

            <div class="input-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <div class="input-group">
                {{ form.password.label_tag }}
                {{ form.password }}
                {{ form.password.errors }}
            </div>

            <div class="input-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            <button type="submit" class="login-button">Register</button>
        </form>

        <div class="login-links">
          <a href="{% url 'login' %}">Already have an account? Login</a>
        </div>
    </div>
</body>
</html>
